

*{
    margin:0px;
    box-sizing: border-box;
}

body{
    font-family: "Open Sans", sans-serif;
    background-color: #333;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.encabezado{
    color: white;
    text-align: center;
    margin-top:40px;
    margin-bottom: 20px;
}

h4{
    font-weight: lighter;
}

.contenedor{
    display: flex;
    width: 100%;
    justify-content: space-evenly;
}

.startup, .medium, .large{
    display: flex;
    flex-direction: column;
    width: 330px;
    height: 500px;
    border-radius: 1%;
    border: 1px solid grey;
    margin: 5%;
    font-size: 20px;
    font-weight: lighter;
    color: white;
    font-size: 14px;
    font-weight: lighter;
    border-radius: 10px;
    padding:20px;
    background-color: rgba(255, 255, 255, 0.08);
    text-align: justify;
}

.startup:hover{
    border: 1px solid white;
    background-color: rgba(202, 199, 199, 0.26);
}

.medium:hover{
    border: 1px solid white;
    background-color: rgba(202, 199, 199, 0.26);
}

.large:hover{
    border: 1px solid white;
    background-color: rgba(202, 199, 199, 0.26);
}

.titulo{
    font-size: 28px;
    font-weight: lighter;
    text-align: center;
}

.precio{
    font-family: "Open-sans", sans-serif;
    font-size: 45px;
    text-align: center;
}

.descrip{
    font-size: 16px;
    text-align: center;
}

.caracteristicas{
    text-align: left;
    line-height: 1.5;
    font-size: 20px;
    height: 180px;
    margin-left: 5%;
    margin-right: 5%;
}


.texto-tilde{
    color:white; 
    font-size: 20px;
}

.palomita{
    font-size: 15px;
}

.boton{
    background-color: hsl(0, 19%, 88%);
    color: #21759b;
    font-size: 12px;
    font-weight: bold;
    border-radius: 5px;
    width: 200px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    left: 15%;  
    margin-top:20px;
}
.boton-1{
    margin-top:40px;
}

.boton-2{
    margin-top:70px;
}

.boton-3{
    margin-top: 40px;
}

.boton:hover{
    background-color: coral;
    color: black;
    font-size: 14px;
}
